<h2>Search Results for: <i><%= params[:term] %></i></h2>

<% if @articles %>
<ul class="search_results">
	<% @articles.with_details.each do |movie, details| %>
		<li>
			<h3>
				<%= link_to movie.title, controller: "movies", action: "show_simply", id: movie.id %>
			</h3>
    	<p><%= details[:highlight][:imdb_tagline].html_safe %>...</p>
		</li>
	<% end %>
</ul>
<% else %>
	<p>Your search did not match any documents.</p>
<% end %>
